<div class="modal fade" id="addCaseModal" tabindex="-1" role="dialog" aria-labelledby="addCaseModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" id="addCaseModalLable">添加案例</h4>
			</div>
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<div class="modal-body">
					<div style="display:none;">
						{{ form.id }}
					</div>
					<div>
						{{ form.name.label }}
						<input id="name" name="name" class="form-control" type="text" value="">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button> {{ form.submit() }}
				</div>
			</form>
		</div>
	</div>
</div>		

