{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}
		{{title}}-化工产品生命周期能耗评价系统
	{% else %}
		欢迎使用化工产品生命周期能耗评价系统
	{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collpsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigations</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('main.index') }}">化工产品生命周期能耗评价系统</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('main.index') }}">主页</a></li>
					{% if current_user.is_authenticated %}
					{% if current_user.check_roles(['admin','paramadmin']) %}
					<li><a href="{{ url_for('urea.admin') }}">过程选项管理</a></li>
					{% endif %}
					{% endif %}
					{% if current_user.is_authenticated %}
					{% if current_user.check_roles(['admin','paramadmin','general']) %}
					<li><a href="{{ url_for('urea.cases') }}">案例管理</a></li>
					{% endif %}
					{% endif %}
					<li><a href="{{ url_for('urea.calculate') }}">能耗试算</a></li>
					{% if current_user.is_authenticated %}
					{% if current_user.check_roles(['admin']) %}
					<li><a href="{{ url_for('auth.newusers') }}">新用户审核</a></li>
					{% endif %}
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('auth.login') }}">[登录]</a></li>
					<li><a href="{{ url_for('auth.register') }}">[注册]</a></li>
					{% else %}
					<li><a href="">{{ current_user.name }}({{current_user.roles[0].description }}), 你好！</a></li>
					<li><a href="{{ url_for('auth.logout') }}">[注销]</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages=get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
	<div class="body-footer">
		<div class="container">
			<div class="about">
				<div class="link">
					<h3>相关链接</h3>
					<ul>
						<li><a href="http://www.iue.ac.cn/">中国科学院城市环境研究所</a></li>
						<li><a href="http://www.cas.cn/">中国科学院</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>&copy;2018 - 中国科学院城市环境研究所 地址：厦门市集美达到1799号 邮编：361021</p>
		</div>
	</div>
{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/mycss.css') }}"/>
{% endblock %}
